.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* food page */

.map-description {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2rem;
	width: 50%;
	margin: 0 auto;
	padding-top: 1em;
}

.tooltip {
	height: 42px;
	width: auto;
}

/* shelter page */

.shelter-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.shelter-styles h1 {
	padding: 0 1em;
}

.shelter-list li {
	color: #0060b6;
	font-size: 2rem;
	border: 2px solid blue;
	padding: 1rem;
	list-style-type: none;
}

.shelter-list a {
	text-decoration: none;
	margin: 10px 0;
}

.shelter-list a:hover {
	color: #00a0c6;
	text-decoration: none;
	cursor: pointer;
}
/* team page */

.team-page {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.teamdiv {
	text-align: center;
	margin: 0 1em;
	padding: 2em;
}

.teamname {
	color: rgb(9, 9, 84);
}

.teamdiv .title {
	font-size: 1.5rem;
}

.teamdiv p {
	font-size: 2rem;
}

.team-page .profile {
	height: 300px;
	border-radius: 100%;
	width: auto;
	filter: drop-shadow(2px 4px 4px #000000);
}

.team-page .linkedin {
	height: 40px;
}

.head-title {
	text-align: center;
	padding: 2em 1em;
}
