.div_link {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
}

.div_link li {
	color: white;
	font-size: large;
	list-style-type: none;
	margin: 10px;
	font-weight: 800;
}
.div_link a {
	text-decoration: none;
}
.div_link li:hover {
	color: #21629a;
}
.div_link li:active {
	color: #21629a;
}

@media only screen and (max-width: 600px) {
	li {
		color: white;
		font-size: small;
		list-style-type: none;
		margin: 8px;
	}
	.MuiButton-label {
		font-size: x-small;
		width: 20px;
		height: 20px;
	}
}
